/* Element Styles */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Class & ID Styles */
.content {
    display: flex;
    min-height: 100vh;
}

.page-split {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 50%;
}

#left {
    flex-grow: 1;
    box-shadow: 1px 0px 13px 1px #232323;
    z-index: 1;
}

#right {
    flex-grow: 1;
    background-color: darkslateblue;
}

.spacer {
    flex-grow: 1;
}

.access-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

.access-link i {
    font-size: x-large;
    max-height: 1em;
}