/******** Element Styles ********/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 100%;
    height: 2px;
    background-color: black;
    color: black;
}

/******** Common Styles ********/
.content {
    display: flex;
    min-height: 100vh;
}

.spacer {
    flex-grow: 1;
}

.smaller {
    font-size: smaller;
}

.access-link {
    display: flex;
    gap: 10px;
    margin: 5px;
    margin-left: 0;
    border-radius: 10px;
    padding: 15px;

    align-items: center;
    justify-content: center;

    background-color: blueviolet;
    color: white;
    text-decoration: none;
}

.access-link i {
    font-size: x-large;
    max-height: 1em;
}

.repo-link {
    background-color: darkolivegreen;
}

@media screen and (max-width: 1100px) {
    .access-link {
        font-size: smaller;
    }
}

/******** Home Page Styles ********/
.page-split {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 50%;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    .content {
        flex-direction: column;
    }

    .page-split {
        max-width: 100%;
        height: 100vh;
        padding: 10px;
    }

    #right {
        height: max-content;
    }
}

#left {
    flex-grow: 1;
    box-shadow: 1px 0px 13px 1px #232323;
    z-index: 1;
}

#right {
    flex-grow: 1;
    background-color: darkslateblue;
}