.content {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.snapshot-link-container {
    display: flex;
}

.snapshot-link-container .access-link {
    background-color: cadetblue;
    width: 50%;
}

@media screen and (max-width: 1100px) {
    .snapshot-link-container {
        flex-direction: column;
    }

    .snapshot-link-container .access-link {
        width: 100%;
        box-sizing: border-box;
    }
}